<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FDJeux mobile.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AC985DC2BA8A9E400A0F077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AC985EC2BA8A9E700A0F077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AC985F62BA8A9E700A0F077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
